@charset "UTF-8";

@import "vendors/sanitize";
@import "vendors/animate/animate.scss";

/********** size **********/
$wideWidth: 1210px;
$mainWidth: 1000px;

/********** font **********/
$defaultFont: 'Optima', 'Arial', Verdana, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 游ゴシック, 'Yu Gothic', Osaka, sans-serif;

/********** color **********/
$black: #333;
$deepGray: #555;
$gray: #c9c9c9;
$lightGray: #bababa;
$brightGray: #f5f5f5;
$lightBlack: #343434;
$white: white;

$deepBlue: #2577be;

$pink: #f10082;

/********** common **********/
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

select:hover,
button:hover {
  cursor: pointer;
}

/********** body **********/
html, body {
    height: 100%;
    font-family: $defaultFont;
    color: $lightBlack;
}
.check{
    margin:0 0 40px 0;
}
.font_color_red {
     color: red;
     font-weight: bold;
}
.back_yellow {
    background-color: yellow;
}
.check_img{
    margin:0 10px 7px 0;
    float:left;
}
.check_text{
    padding:2px 0 0 0;
    font-size: 23px;
    font-weight: bold;
}
.clear {
    clear:both;
    margin:0 0 15px 0;
} 
.wrapper {
    background-color: #f5f5f5;
    header {
        padding: 19px 0;
        //box-shadow: 0px 0px 15px 6px #ddd;
        //text-align: center;
        //font-size: 24px;
        //font-weight: bold;
    }
    .content {
        width: $mainWidth;
        background-color: #f5f5f5;
        margin: 0 auto;
        //font-size: 22px;
        section {
            h2 {
                margin: 70px 0 30px 0;
                font-size: 28px;
                font-weight: bold;
                text-align: center;
            }
            h3 {
                margin: 70px 0 30px 0;
                font-size: 24px;
                //font-weight: bold;
                //text-align: center;
            }
            h4 {
                font-size: 20px;
                //font-weight: bold;
                text-align: right;
            }
            p {
                margin-bottom: 5px;
                text-align: left;
                //line-height: 40px;
                &.strong {
                   // font-size: 28px;
                    //font-weight: bold;
                }
            }
            strong {
                //border-bottom: 2px solid $pink;
            }
            img {
                //margin-bottom: 0px;
            }
            dl {
                //overflow: hidden;
                //margin-bottom: 20px;
                dt {
                 //float: left;
                  //clear: left;
                  //width: 130px;
                  //padding: 10px;
                }
                dd {
                  //float: left;
                  //width: 870px;
                  //padding: 10px;
                }
            }
        }
        .section2 {
            margin-bottom: 50px;
        }
        .section3 {
            margin-bottom: 50px;
        }
        .section4 {
            margin-bottom: 50px;
        }
        .contact {
            background-image:url("../img/04.png");
            height:980px;       
        }
        .many_padding{
            padding-bottom:473px;
        }
        .contact_text {
            font-size: 28px;
            font-weight: bold;
            text-align: center;   
        }
        .text_input{
            border:0;
            background-color:#FFFFFF;
            border:solid 1px #ccc;
            margin:6px 0 20px 0;
            width:680px;
            height:50px
        }
        .section7 {
            margin:0 0 0 70px;
        }
        .section10 {
            margin:0 0 0 120px;
        }
        .section12 {
            margin-bottom: 30px;
        }
        .section13 {
            margin-bottom: 50px;
        }
        .order {
            //width: 1000px;
            //height: 361px;
            //background: url(../img/17.png);
            //text-align: center;
            a {
                //position: relative;
                //top: 40px;
                //margin: 0 auto;
                img {
                    //width: 500px;
                    //height: 80px;
                }
            }
        }
    }
    footer {
        margin-top: 30px;
        padding: 33px 0;
        background-color: $white;
        text-align: center;
        a {
            padding: 0 10px;
            color: $deepBlue;
        }        
    }
}
@media only screen and (max-width: 1100px) {
    .wrapper {
        width: 1100px;
    }
}